* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background: rgb(61, 3, 114);
  color: white;
  padding: 1rem 5rem;
}

.nav_logo {
  letter-spacing: 1px;

  font-size: 23px;
}

.add-btn {
  color: rgb(61, 3, 114);
  font-size: 60px;
  height: 65px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2rem;
}

.grid-container {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.grid_item {
  /* flex: 0 0 20%;
  box-sizing: border-box;
  padding: 20px;
  height: 25rem;
  align-items: center;
  margin-bottom: 2%;
  background-color: #2c2a2a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Increased box shadow intensity */
  flex: 0 0 31%;
  box-sizing: border-box;
  padding: 5px;
  height: 12rem;
  align-items: center;
  margin-bottom: 2%;
  /* background-color: #2c2a2a; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .grid_item {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .grid_item {
    flex-basis: 100%;
  }
}

.content-body {
  /* background: rgb(107, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(107, 58, 180, 1) 0%,
    rgba(69, 94, 252, 1) 100%
  ); */
}
